.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f4f8;
    height: 100vh;
  }
  
  .content {
    padding: 20px;
    background: white;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .icon {
    font-size: 64px;
    color: #ff9800;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  